body {
  padding: 0;
  font-family: Helvetica;
  margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 60px;
  margin-left: 20px;
  background-color: #c4cde0;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-15 {
  margin: 15px;
}

.vote {
  display: inline;
}

.sort-by-selection {
  width: 200px;
  display: inline-block;
  margin-left: 10px
}